body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
}

.logo {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}


.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  text-align: center;
  color: #001f3f;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 13px;
}

.form-links a {
  color: #001f3f;
  font-weight: bold;
  text-decoration: none;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #8cccf1;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #6cbce3;
}
